<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.metacar.mapper.CarMapper">

	<select id="cargetList" resultType="kosa.metacar.dto.Have_CarDTO">
		<![CDATA[
			select * from have_car
		]]>
	</select>
	
	<select id="carWithPaginggetList" resultType="kosa.metacar.dto.Have_CarDTO">
   		<![CDATA[
    
    	select carNum, carModel, carMaking from
            (select	rownum rn,carNum,carModel,carMaking
                    from have_car 
                    where rownum <= #{pageNum} * #{amount})
        	where rn > (#{pageNum} - 1) * #{amount}
    	]]>  
   
	</select>
	
	<!--
	<select id="carsearchgetList" resultType="kosa.metacar.dto.Have_CarDTO">
			select * from have_car
			<trim prefix ="where" prefixOverrides="AND|OR">
				carmodel like '%'||#{carmodel}||'%'
			</trim>		
			<if test='carselect != null'>
				<trim prefix = "AND">
				carselect = #{carselect}
				</trim>
			</if>
			<if test='inputGroupSelect01 != null'>
				<trim prefix = "AND">
				 inputGroupSelect01 = #{inputGroupSelect01}
				 </trim>
			</if>
	</select>
	-->
	
</mapper>