<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.metacar.mapper.UserMapper">

	<insert id="userCreate">
		insert into socar_member
		(id,password,phone,name,regNum,auth)
		values (#{id}, #{password}, #{phone},
		#{name},#{regNum},'ROLE_ADMIN')
	</insert>

<resultMap id="socarMemberResultMap" type="kosa.metacar.dto.Socar_MemberDTO">
  <id property="id" column="id"/>
  <result property="password" column="password"/>
  
  <result property="phone" column="phone"/>
  <result property="name" column="name"/>
  <result property="regNum" column="regNum"/>
  <result property="auth" column="auth"/>
	
</resultMap>

	
<select id="getUserByIdAndPassword" resultType="kosa.metacar.dto.Socar_MemberDTO">
  SELECT id, password FROM socar_member WHERE id = #{id} AND password = #{password}
</select>
	
<select id="userGet" resultType="kosa.metacar.dto.Socar_MemberDTO">
  SELECT id, name FROM socar_member WHERE id = #{id}
</select>

</mapper>